apps/n8n/workflows/pipeline_health_check.json
[
  {
    "name": "Pipeline Health Check",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 9 * * *"
              }
            ]
          }
        },
        "id": "b1b2c3d4-2222-4000-8000-000000000001",
        "name": "Daily 09:00 UTC",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          300
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT MAX(EVENT_TIMESTAMP) AS LAST_EVENT_AT\nFROM CLOUDMETRICS.MARTS.FCT_PRODUCT_EVENTS"
        },
        "id": "b1b2c3d4-2222-4000-8000-000000000002",
        "name": "Snowflake Last Event",
        "type": "n8n-nodes-base.snowflake",
        "typeVersion": 1,
        "position": [
          480,
          300
        ],
        "credentials": {
          "snowflake": {
            "id": "snowflake-cloudmetrics",
            "name": "Snowflake CloudMetrics"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const row = $input.first().json;\nconst lastEventRaw = row.LAST_EVENT_AT;\nif (!lastEventRaw) {\n  return [{\n    json: {\n      is_stale: true,\n      hours_stale: null,\n      last_event_at: null,\n      reason: 'no_events',\n    },\n  }];\n}\nconst lastEvent = new Date(lastEventRaw);\nconst hoursStale = (Date.now() - lastEvent.getTime()) / (1000 * 60 * 60);\nreturn [{\n  json: {\n    last_event_at: lastEventRaw,\n    hours_stale: Math.round(hoursStale * 10) / 10,\n    is_stale: hoursStale > 26,\n  },\n}];"
        },
        "id": "b1b2c3d4-2222-4000-8000-000000000003",
        "name": "Check Staleness",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "stale-condition",
                "leftValue": "={{ $json.is_stale }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "b1b2c3d4-2222-4000-8000-000000000004",
        "name": "Is Stale?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          960,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ALERT_WEBHOOK_URL }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ workflow: 'Pipeline Health Check', alert: 'product_events_stale', last_event_at: $json.last_event_at, hours_stale: $json.hours_stale, threshold_hours: 26, timestamp: new Date().toISOString() }) }}"
        },
        "id": "b1b2c3d4-2222-4000-8000-000000000005",
        "name": "Stale Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1200,
          220
        ]
      }
    ],
    "connections": {
      "Daily 09:00 UTC": {
        "main": [
          [
            {
              "node": "Snowflake Last Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Snowflake Last Event": {
        "main": [
          [
            {
              "node": "Check Staleness",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Staleness": {
        "main": [
          [
            {
              "node": "Is Stale?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Stale?": {
        "main": [
          [
            {
              "node": "Stale Alert",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "active": false
  }
]
