apps/n8n/workflows/pqa_to_hubspot.json
[
  {
    "name": "PQA Score to HubSpot",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 1
              }
            ]
          }
        },
        "id": "a1b2c3d4-1111-4000-8000-000000000001",
        "name": "Every Hour",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          300
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT USER_ID, PQA_SCORE, PQA_TIER\nFROM CLOUDMETRICS.MARTS.MART_PQA_SCORES\nWHERE PQA_SCORE >= 25"
        },
        "id": "a1b2c3d4-1111-4000-8000-000000000002",
        "name": "Snowflake PQA Query",
        "type": "n8n-nodes-base.snowflake",
        "typeVersion": 1,
        "position": [
          480,
          300
        ],
        "credentials": {
          "snowflake": {
            "id": "snowflake-cloudmetrics",
            "name": "Snowflake CloudMetrics"
          }
        }
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ $env.DEMO_APP_URL }}/api/hubspot/contacts/{{ $json.USER_ID }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Webhook-Secret",
                "value": "={{ $env.HUBSPOT_MOCK_SECRET }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ pqa_score: $json.PQA_SCORE, pqa_tier: $json.PQA_TIER }) }}"
        },
        "id": "a1b2c3d4-1111-4000-8000-000000000003",
        "name": "PATCH HubSpot Mock",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          720,
          300
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nreturn [{\n  json: {\n    workflow: 'PQA Score to HubSpot',\n    contact_id: item.USER_ID ?? 'unknown',\n    pqa_score: item.PQA_SCORE,\n    pqa_tier: item.PQA_TIER,\n    error: item.error?.message ?? item.message ?? 'HTTP PATCH failed',\n    timestamp: new Date().toISOString(),\n  },\n}];"
        },
        "id": "a1b2c3d4-1111-4000-8000-000000000004",
        "name": "Format Error",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          460
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ALERT_WEBHOOK_URL }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}"
        },
        "id": "a1b2c3d4-1111-4000-8000-000000000005",
        "name": "Error Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1200,
          460
        ]
      }
    ],
    "connections": {
      "Every Hour": {
        "main": [
          [
            {
              "node": "Snowflake PQA Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Snowflake PQA Query": {
        "main": [
          [
            {
              "node": "PATCH HubSpot Mock",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PATCH HubSpot Mock": {
        "main": [
          []
        ],
        "error": [
          [
            {
              "node": "Format Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Error": {
        "main": [
          [
            {
              "node": "Error Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "active": false
  }
]
